* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: #a6abad;
}
.main-content {
    min-height: 1000px;
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 300px 700px;
}

.left-section {
    padding: 1rem;
    grid-column: span 1;
    background-color: #242531;
    color: white;
}
.right-section {
    color: #000000;
    grid-column: span 1 / span 2;
    background-color: #f7f7f7;
}

.profile-image {
    width: 80px;
    position: relative;
    left: 38px;
    top: 10px;
}
.profile-details {
    display: block;
    margin: auto;
    border: 5px white solid;
    border-radius: 30%;
    width: 60%;
}
.name {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    word-spacing: 0.02px;
    padding: 0.8rem;
    text-transform: uppercase;
}
.designation {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}
.description {
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
}
.social-media li {
    list-style: none;
    display: inline;
    padding: 0 10px
}
.personal-details li {
    line-height: 2em;
}
.progress-bar {
    display: block;
    border: 1px white solid;
    height: 4px;
}
.skills {
    line-height: 3em;
    font-size: 0.75rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1 rem 0.5rem;
}

.skill-name {
    font-size: 0.65rem;
    font-weight: 0.65rem;
    text-align: left;
    padding-bottom: 0.5rem;
}
 
.right-main-content {
    padding: 2rem 3rem;
}
.right-title {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
}
@media screen and (max-width: 673px) {
    .main-content {
        grid-template-columns: repeat(1, 1fr);
    }
}
